@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
.container{
    display: flex;
}
/* ----------------------------Left------------------------------- */
.left{
    width: 25vw;
    color: grey;
}
.leftFirst{
    background-color: #121212;
    padding: 25px;
    margin: 10px;
    border-radius: 8px;
}
.home{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    padding-left: 0;
}
.search{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    padding: 8px;
    padding-left: 0;
}
.left ul li{
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.left ul img{
    width: 22px;
}

/* Left Second */
.leftSecond{
    background-color: #121212;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 8px;
    gap: 15px;
    min-height: 40vh;
    position: relative;
}
.library{
    display: flex;
    margin: 20px;
    padding: 10px;
}
.library img{
    width: 15px;
    position: fixed;
}
.library h3{
    font-size: 17px;
    margin-left: 30px;
}
.library i{
    position: relative;
    left: 120px;
}

.songList{
    background-color: grey;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}
/* Library Container */
.musicCard{
    background-color: #242424;
    height: 100%;
    padding: 5px;
}
.musicCard ul li{
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
    margin-top: 1px;
    border-radius: 4px;
    cursor: pointer;
}
/* .libraryContainer{
    background-color: #242424;
    margin-top: 15px;  
    border-radius: 5px;
    padding: 10px;
}

.libraryContainer h3{
    color: white;
    font-size: 16px;
}
.libraryContainer p{
    color: white;
    margin-top: 10px;
    font-size: 14px;
} */

/* Left Footer */
.leftThird{
    padding: 3px;
    margin: 0 10px;
}
.leftFooter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 11px;
    margin-top: 25px;
}
.leftFooter a{
    color: grey;
    text-decoration: none;
}
.languageButton button{
    color: white;
    background-color: black;
    border: solid 0.1px white;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 10px;
}


/* ----------------------------Right------------------------------- */

.right{
    background-color: #121212;
    width: 75vw;
    height: 98vh;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
}
.rightHeader{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightHeader img{
    width: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 50px;
}

.headerButtons{
    display: flex;
    gap: 30px;
    margin-right: 10px;
}
.signupBtn{
    color: grey;
    font-size: 17px;
    font-weight: bold;
    background: none;
    border: none;
}
.loginBtn{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 110px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
/* Spotify Playlist */

.playlist{
    background-color: #242424;
    color: white;
    margin-top: 10px;
    
    
}
.playlistHeader{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.playlistHeader h1{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 17px;
}
.playlistHeader p{
    font-size: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* Cards */
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #202020;
    width: 170px;
    margin: 18px;
    padding: 13px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card h3{
    margin-left: 10px;
}
.card p{
    font-size: 14px;
    color: grey;
    margin: 10px;
}

/* Player */
.player{
    width: 75vw;
    min-height: 70px;
    height: 70px;
    position: fixed;
    bottom: 2px;
    background-color: #121212;
    padding-bottom: 15px;
}
.player i{
    color: white;
    font-size: 25px;
}
.playerButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100%;
    gap: 20px;
    position: fixed;
    right: 60px;
    cursor: pointer;
}
#volumeRange{
    position: fixed;
    right: 150px;
    top: 24px;
}
#next,#previous{
    width:17px;
}
.playerTop{
    width: 90%;
    height: 85%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.seekBar{
    margin: 0px 20px;
    width: 71vw;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.circle{
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    bottom: -5px;
    margin: 0;
    transition: all 0.3s;
}